<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>67409229062-2assgfkg8hi3hq9giu48pco4sd1k0a73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67409229062-2assgfkg8hi3hq9giu48pco4sd1k0a73</string>
	<key>API_KEY</key>
	<string>AIzaSyAGx-1Nl9Bhk_3OQYxR838xrAjZWLdz5ig</string>
	<key>GCM_SENDER_ID</key>
	<string>67409229062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myazdani.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-caht-23a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-caht-23a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67409229062:ios:ca40dcb4b59b1903</string>
	<key>DATABASE_URL</key>
	<string>https://flash-caht-23a2c.firebaseio.com</string>
</dict>
</plist>